<div class="login_form register">
    <div class="page_header">
        <h2>Добавить вакансию</h2>
    </div>
    <form action="/admin_add_vacancy" method="post" enctype="multipart/form-data">
        <input type="text" name="vacancy_title" placeholder="Заголовок">
        <input type="number" name="vacancy_price" placeholder="ЗП">
        <textarea name="vacancy_description" id="" cols="30" rows="10" placeholder="Описание"></textarea>
        <select name="voivodeship" id="">
            <option value="">Воевудство</option>
            <option value="Варминьско-Мазурское">Варминьско-Мазурское</option>
            <option value="Великопольское">Великопольское</option>
            <option value="Западно-Поморское">Западно-Поморское</option>
            <option value="Куявско-Поморское">Куявско-Поморское</option>
            <option value="Лодзинское">Лодзинское</option>
            <option value="Люблинское">Люблинское</option>
            <option value="Любушское">Любушское</option>
            <option value="Мазовецкое">Мазовецкое</option>
            <option value="Малопольское">Малопольское</option>
            <option value="Нижнесилезское">Нижнесилезское</option>
            <option value="Опольское">Опольское</option>
            <option value="Подкарпатское">Подкарпатское</option>
            <option value="Подляское">Подляское</option>
            <option value="Поморское">Поморское</option>
            <option value="Свентокшиское">Свентокшиское</option>
            <option value="Силезское">Силезское</option>
        </select>
        <select name="city" onchange="add_new_city(this)">
            <option value="">Город</option>
            {{#each cities}}
                <option value="{{this.city}}">{{this.city}}</option>
            {{/each}}
            <option value="new_city">Добавить новый город</option>
        </select>
        <input class="hiden" type="text" name="new_city" id="new_city">
        <select name="work_type" id="">
            <option value="0">График</option>
            <option value="1 График">1 График</option>
            <option value="2 График">2 График</option>
            <option value="3 График">3 График</option>
            <option value="4 График">4 График</option>
            <option value="5 График">5 График</option>
        </select>
        <select name="speciality" id="">
            <option value="">Специальность</option>
            <option value="1 Специальность">1 Специальность</option>
            <option value="2 Специальность">2 Специальность</option>
            <option value="3 Специальность">3 Специальность</option>
            <option value="4 Специальность">4 Специальность</option>
        </select>
        <select name="country" id="">
            <option value="">Страна</option>
            <option value="1 Страна">1 Страна</option>
            <option value="2 Страна">2 Страна</option>
            <option value="3 Страна">3 Страна</option>
            <option value="4 Страна">4 Страна</option>
        </select>
        <label for="company_logo">Логотип компании</label>
        <input type="file" name="company_logo">
        <label for="company_logo">Фотографии рабочего пространства</label>
        <input type="file" name="work_place_imgs" multiple>
        <button type="submit">Опубликовать</button>
    </form>
</div>