<div class="login_form register">
    <div class="page_header">
        <h2>Редактировать новость</h2>
    </div>
    <form action="/admin_edit_news/{{new.id}}" method="POST" enctype="multipart/form-data">
        <input type="text" name="news_title" placeholder="Заголовок" value="{{new.title}}">
        <textarea name="news_description" id="" cols="30" rows="10" placeholder="Описание">{{new.news_description}}</textarea>
        <input type="submit" value="Опубликовать">
    </form>
</div>