<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>FoYoJo</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/img/Favicon.png" type="image/png">
</head>
<body>
    <header>
        <div class="header_logo form_page" onclick="window.location.href = '/'">
            <img src="/static/img/main_logo.png" alt="">
        </div>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer class="forms_footer">
        <div class="header_logo" onclick="window.location.href = '/'">
            <img src="/static/img/main_logo.png" alt="">
        </div>
        <div class="header_buttons">
            <div class="header_buttons_info">
                <p>mail@mail.ru</p>
            </div>
            <div class="header_buttons_info">
                <p>9(999)999-99-99</p>
            </div>
        </div>
    </footer>
    <script src="/static/js/main.js"></script>
</body>
</html>