<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>FoYoJo</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/img/Favicon.png" type="image/png">
</head>
<body>
    <div class="adaptive_menu_info">
        <div class="header_buttons">
            <button onclick="window.location.href = '/login'">Вход</button>
            <button onclick="window.location.href = '/registration'">Регистрация</button>
            <div class="header_buttons_info">
                <p>mail@mail.ru</p>
            </div>
            <div class="header_buttons_info">
                <p>9(999)999-99-99</p>
            </div>
        </div>
    </div>
    <header>
        <div class="header_logo" onclick="window.location.href = '/'">
            <h1>Fo<span>Yo</span>Jo</h1>
        </div>
        <div class="adaptive_menu" onclick="show_menu(this)">
            <img src="/static/img/adaptive_menu.png" alt="">
        </div>
        <div class="header_buttons">
            <button  onclick="window.location.href = '/login'">Вход</button>
            <button  onclick="window.location.href = '/registration'">Регистрация</button>
        </div>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <div class="header_logo">
            <h1>Fo<span>Yo</span>Jo</h1>
        </div>
        <div class="header_buttons">
            <div class="header_buttons_info">
                <p>mail@mail.ru</p>
            </div>
            <div class="header_buttons_info">
                <p>9(999)999-99-99</p>
            </div>
        </div>
    </footer>
    <script src="/static/js/main.js"></script>
</body>
</html>