<div class="login_form">
    <div class="page_header ">
        <h2>Авторизация</h2>
    </div>
    <form action="/admin_login" method="post">
        <input type="email" name="email" placeholder="Ваш email">
        <input type="password" name="password" placeholder="Пароль">
        <button type="submit">Войти</button>
    </form>
</div>