<div class="page_header ">
    <h2>Актуальные предложения</h2>
</div>

<div class="page">
    <form class="left_menu">
        <select name="" id="">
            <option value="0">Специальность</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <select name="" id="">
            <option value="0">Воевудства</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <select name="" id="">
            <option value="0">Города</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <select name="" id="">
            <option value="0">ЗП</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <select name="" id="">
            <option value="0">График</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <button type="submit">Найти</button>
    </form>
    <div class="page_content">
        <div class="each_vacancy">
            <div class="vacancy_info">
                <div class="title left_vacancy_part">
                    <h3>Заголовок вакансии</h3>
                </div>
                <div class="price">
                    <h3>30 000 ₽</h3>
                </div>
            </div>
            <div class="vacancy_info">
                <div class="each_vacancy_desceiption_text left_vacancy_part">
                    <p>Краткое описание Краткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описание Краткое описание Краткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описан <span class="show_more">Показать больше</span></p>
                </div>
            </div>
            <div class="vacancy_info">
                <div class="date left_vacancy_part">
                    <p>Дата публикации: 01.01.2001</p>
                </div>
                <div class="btns">
                    <div class="heart unactive" onclick="choose_favorites(this)">
                        <img src="/static/img/unactive_heart.png" alt="">
                    </div>
                    <div class="vacancy_submit">
                        <a href="">Откликнуться</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="each_vacancy">
            <div class="vacancy_info">
                <div class="title left_vacancy_part">
                    <h3>Заголовок вакансии</h3>
                </div>
                <div class="price">
                    <h3>30 000 ₽</h3>
                </div>
            </div>
            <div class="vacancy_info">
                <div class="each_vacancy_desceiption_text left_vacancy_part">
                    <p>Краткое описание Краткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описание Краткое описание Краткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описан <span class="show_more">Показать больше</span></p>
                </div>
            </div>
            <div class="vacancy_info">
                <div class="date left_vacancy_part">
                    <p>Дата публикации: 01.01.2001</p>
                </div>
                <div class="btns">
                    <div class="heart unactive" onclick="choose_favorites(this)">
                        <img src="/static/img/unactive_heart.png" alt="">
                    </div>
                    <div class="vacancy_submit">
                        <a href="">Откликнуться</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="each_vacancy">
            <div class="vacancy_info">
                <div class="title left_vacancy_part">
                    <h3>Заголовок вакансии</h3>
                </div>
                <div class="price">
                    <h3>30 000 ₽</h3>
                </div>
            </div>
            <div class="vacancy_info">
                <div class="each_vacancy_desceiption_text left_vacancy_part">
                    <p>Краткое описание Краткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описание Краткое описание Краткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описан <span class="show_more">Показать больше</span></p>
                </div>
            </div>
            <div class="vacancy_info">
                <div class="date left_vacancy_part">
                    <p>Дата публикации: 01.01.2001</p>
                </div>
                <div class="btns">
                    <div class="heart unactive" onclick="choose_favorites(this)">
                        <img src="/static/img/unactive_heart.png" alt="">
                    </div>
                    <div class="vacancy_submit">
                        <a href="">Откликнуться</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="each_vacancy">
            <div class="vacancy_info">
                <div class="title left_vacancy_part">
                    <h3>Заголовок вакансии</h3>
                </div>
                <div class="price">
                    <h3>30 000 ₽</h3>
                </div>
            </div>
            <div class="vacancy_info">
                <div class="each_vacancy_desceiption_text left_vacancy_part">
                    <p>Краткое описание Краткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описание Краткое описание Краткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описан <span class="show_more">Показать больше</span></p>
                </div>
            </div>
            <div class="vacancy_info">
                <div class="date left_vacancy_part">
                    <p>Дата публикации: 01.01.2001</p>
                </div>
                <div class="btns">
                    <div class="heart unactive" onclick="choose_favorites(this)">
                        <img src="/static/img/unactive_heart.png" alt="">
                    </div>
                    <div class="vacancy_submit">
                        <a href="">Откликнуться</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>