
    <div class="page_header profile">
        <h2>Мои отклики</h2>
    </div>

    <div class="page">
        <form class="left_menu">
            <div class="profile_menu_each">
                <a href="/profile_personal_data">Профиль</a>
            </div>
            <div class="profile_menu_each">
                <a href="/profile_contacts">Обратная связь</a>
            </div>
            <div class="profile_menu_each">
                <a href="/profile_favorites">Избранное</a>
            </div>
            <div class="profile_menu_each selected">
                <a href="/profile_answers">Мои отклики</a>
            </div>
        </form>
        <div class="page_content">
            <div class="each_vacancy">
                <div class="vacancy_info">
                    <div class="title left_vacancy_part">
                        <h3>Заголовок вакансии</h3>
                    </div>
                    <div class="price">
                        <h3>30 000 ₽</h3>
                    </div>
                </div>
                <div class="vacancy_info">
                    <div class="each_vacancy_desceiption_text left_vacancy_part">
                        <p>Краткое описание Краткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описание Краткое описание Краткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описан <a class="show_more">Показать больше</a></p>
                    </div>
                </div>
                <div class="vacancy_info">
                    <div class="date left_vacancy_part">
                        <p>Дата публикации: 01.01.2001</p>
                    </div>
                </div>
            </div>
            <div class="each_vacancy">
                <div class="vacancy_info">
                    <div class="title left_vacancy_part">
                        <h3>Заголовок вакансии</h3>
                    </div>
                    <div class="price">
                        <h3>30 000 ₽</h3>
                    </div>
                </div>
                <div class="vacancy_info">
                    <div class="each_vacancy_desceiption_text left_vacancy_part">
                        <p>Краткое описание Краткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описание Краткое описание Краткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описан <a class="show_more">Показать больше</a></p>
                    </div>
                </div>
                <div class="vacancy_info">
                    <div class="date left_vacancy_part">
                        <p>Дата публикации: 01.01.2001</p>
                    </div>
                </div>
            </div>
            <div class="each_vacancy">
                <div class="vacancy_info">
                    <div class="title left_vacancy_part">
                        <h3>Заголовок вакансии</h3>
                    </div>
                    <div class="price">
                        <h3>30 000 ₽</h3>
                    </div>
                </div>
                <div class="vacancy_info">
                    <div class="each_vacancy_desceiption_text left_vacancy_part">
                        <p>Краткое описание Краткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описание Краткое описание Краткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описан <a class="show_more">Показать больше</a></p>
                    </div>
                </div>
                <div class="vacancy_info">
                    <div class="date left_vacancy_part">
                        <p>Дата публикации: 01.01.2001</p>
                    </div>
                </div>
            </div>
            <div class="each_vacancy">
                <div class="vacancy_info">
                    <div class="title left_vacancy_part">
                        <h3>Заголовок вакансии</h3>
                    </div>
                    <div class="price">
                        <h3>30 000 ₽</h3>
                    </div>
                </div>
                <div class="vacancy_info">
                    <div class="each_vacancy_desceiption_text left_vacancy_part">
                        <p>Краткое описание Краткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описание Краткое описание Краткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описан <a class="show_more">Показать больше</a></p>
                    </div>
                </div>
                <div class="vacancy_info">
                    <div class="date left_vacancy_part">
                        <p>Дата публикации: 01.01.2001</p>
                    </div>
                </div>
            </div>
        </div>
    </div>