
    <div class="page_header profile">
        <h2>Обратная связь</h2>
    </div>

    <div class="page">
        <form class="left_menu">
            <div class="profile_menu_each">
                <a href="/profile_personal_data">Профиль</a>
            </div>
            <div class="profile_menu_each selected">
                <a href="/profile_contacts">Обратная связь</a>
            </div>
            <div class="profile_menu_each">
                <a href="/profile_favorites">Избранное</a>
            </div>
            <div class="profile_menu_each">
                <a href="/profile_answers">Мои отклики</a>
            </div>
        </form>
        <div class="page_content">
            <div class="page_content_profile_container">
                <div class="profile_container_form">
                    <form action="">
                        <input type="text" placeholder="Номер телефона для обратной связи">
                        <input type="text" placeholder="Номер whatsapp">
                        <input type="text" placeholder="Номер viber">
                        <input type="text" placeholder="Номер telegram">
                        <button type="submit">Сохранить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

