<div class="login_form register">
    <div class="page_header">
        <h2>Регистрация</h2>
    </div>
    <form id="reg_form">
        <input type="text" name="full_name" placeholder="ФИО" required>
        <input type="email" name="email" placeholder="Ваш email" required>
        <input type="tel" name="phone" placeholder="Ваш телефон" required>
        <select name="documents" id="" required>
            <option value="">Документы для въезда в Польшу</option>
            <option value="Виза">Виза</option>
            <option value="Безвиз">Безвиз</option>
            <option value="Карта побыта">Карта побыта</option>
        </select>
        <input type="text" name="speciality" placeholder="Специальность" required>
        <input type="number" name="experience" placeholder="Опыт работы по специальности" required>
        <select name="language_lvl" id="" required>
            <option value="">Уровень владения языком </option>
            <option value="Начальный">Начальный</option>
            <option value="Ниже среднего">Ниже среднего</option>
            <option value="Средний">Средний</option>
            <option value="Выше среднего">Выше среднего</option>
            <option value="Продвинутый">Продвинутый</option>
            <option value="Профессиональный уровень">Профессиональный уровень</option>
        </select>
        <textarea name="personal_qualities" id="" cols="30" rows="10" placeholder="Опишите ваши личный качества" required></textarea>
        <input type="tel" name="whatsapp_numb" placeholder="Номер whatsapp">
        <input type="tel" name="viber_numb" placeholder="Номер viber">
        <input type="tel" name="telegram_numb" placeholder="Номер telegram">
        <input type="password" name="pass" placeholder="Пароль">
        <button type="submit">Зарегестрироваться</button>
    </form>
</div>
<script src="/static/js/reg_from.js"></script>