<div class="page_header back_link">
    <a>< К списку проектов</a>
</div>

<div class="page vacancy">
    <div class="page_content">
        <div class="each_vacancy">
            <div class="vacancy_info">
                <div class="title left_vacancy_part">
                    <h3>Заголовок вакансии</h3>
                </div>
                <div class="price">
                    <h3>30 000 ₽</h3>
                </div>
            </div>
            <div class="vacancy_info">
                <div class="left_vacancy_part">
                    <div class="short_description">
                        <div class="short_description_row">
                            <p><span>Зарплата работника</span> - 5500 - 9000 руб/мес</p>
                        </div>
                        <div class="short_description_row">
                            <p><span>Воевудство</span> - воевудство</p>
                        </div>
                        <div class="short_description_row">
                            <p><span>Город</span> - город</p>
                        </div>
                        <div class="short_description_row">
                            <p><span>График</span> - график</p>
                        </div>
                        <div class="short_description_row">
                            <p><span>Специальность</span> - специальность</p>
                        </div>
                    </div>
                </div>
                <div class="com_logo">
                    <img src="/static/img/test_com_logo.png" alt="">
                </div>
            </div>
            
            <div class="vacancy_info">
                <div class="each_vacancy_desceiption_text left_vacancy_part">
                    <p>Краткое описание Краткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описание Краткое описание Краткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описан </p>
                    <p>Краткое описание Краткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описание Краткое описание Краткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описан </p>
                    <p>Краткое описание Краткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описание Краткое описание Краткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описан </p>
                    <p>Краткое описание Краткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описание Краткое описание Краткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описаниеКраткое описан </p>
                </div>
            </div>

            <div class="vacancy_info img_slider">
                <div class="img_row">
                    <div class="main_img">
                        <img src="/static/img/test_img_!.png" alt="" id="main_img">
                    </div>
                    <div class="right_alingn_imgs">
                        <img src="/static/img/test_img_2.png" alt="" onclick="change_main_img(this)">
                        <img src="/static/img/test_img_3.png" alt="" onclick="change_main_img(this)">
                    </div>
                </div>
                <div class="img_row">
                    <img src="/static/img/test_img_4.png" alt="" onclick="change_main_img(this)">
                    <img src="/static/img/test_img_5.png" alt="" onclick="change_main_img(this)">
                    <img src="/static/img/test_img_6.png" alt="" onclick="change_main_img(this)">
                </div>
            </div>

            <div class="vacancy_info">
                <div class="date left_vacancy_part">
                    <p>Дата публикации: 01.01.2001</p>
                </div>
                <div class="btns">
                    <div class="heart unactive" onclick="choose_favorites(this)">
                        <img src="/static/img/unactive_heart.png" alt="">
                    </div>
                    <div class="vacancy_submit">
                        <a href="">Откликнуться</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>