@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@keyframes go_out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        
    }
}

@keyframes go_in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

*, body {
    margin: 0;
    padding: 0;
    overflow: auto;
}

body {
    background: #D6E6EE;
    font-family: 'Roboto', sans-serif;
}

a {
    display: block;
    text-decoration: none;
    color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

br {
    height: 10px;
}

header, footer {
    position: relative;
    display: flex;
    background-color: #2D4054;
    width: 85%;
    padding-left: 7.5%;
    padding-right: 7.5%;
    padding-bottom: 15px;
    padding-top: 15px;
    font-family: 'Roboto', sans-serif;
}

input {
    -webkit-appearance: none;
}

.header_logo h1 {
    color: black;
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
}

.header_logo img {
    height: 100%;
    display: block;
    vertical-align: bottom;
}

.header_logo:hover {
    cursor: pointer;
}

.header_logo {    
    width: fit-content;
    height: 35px;
}

.header_logo.form_page {
    margin: 0 auto;
}

.header_logo.form_page h1 {
    text-align: center;
}

.header_logo h1 span {
    color: white;
}

.header_buttons {
    position: absolute;
    right: 7.5%;
    width: 22%;
    display: flex;
}

footer .header_buttons {
    width: auto;
}

footer .header_buttons {

}

.header_buttons.admin {
    width: auto;
}

.header_account {
    position: absolute;
    right: 10%;
    display: flex;
    width: fit-content;
}

.header_account:hover {
    cursor: pointer;
}

.account_logo {
    width: 38px;
    height: 38px;
    border: 1px solid black;
    border-radius: 50%;
}

.account_logo img {
    width: 100%;
    vertical-align: bottom;
}

.account_info p {
    line-height: 35px;
    padding-left: 15px;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

header button:first-child {
    margin-left: 5%;
    margin-right: 5%;
}

header button {
    display: inline;
    width: 45%;
    color: white;
    background-color: #E26218;
    font-size: 18px;
    border: none;
    outline: none;
    font-weight: 700;
    height: 35px;
}

button:hover {
    cursor: pointer;
}



.header_buttons_info {
    display: inline;
    width: fit-content;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    color: white;
    font-size: 20px;
    border: none;
    outline: none;
    height: fit-content;
}

.menu_point {    
    width: fit-content;
    padding-left: 2%;
}

.menu_point a {
    text-align: left;
    line-height: 35px;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.header_buttons_info:hover {
    cursor: pointer;
}

.header_buttons_info p {
    line-height: 35px;
    text-align: right;
    font-weight: 500;
}

main {
    width: 100%;
    margin: 0 auto;
    padding-top: 0;
    height: fit-content;
    display: block;
    min-height: calc(100vh - 130px);
}

.page_header.white_header {
    color: white;
}

.page_header h2{
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
    width: fit-content;
    padding-left: 5px;
    margin-bottom: 15px;
}

.page {
    display: flex;
    width: 100%;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    min-height: calc(100vh - 130px);
}

.left_part {
    padding-top: 70px;
    padding-bottom: 30px;
    width: 24%;
    background-color: #2D4054;
    scrollbar-color: #E26218;
}

.left_part::-webkit-scrollbar { width: 10px;}
.left_part::-webkit-scrollbar-button {  background-color: #2D4054; }
.left_part::-webkit-scrollbar-track {  background-color: #2D4054;}
.left_part::-webkit-scrollbar-track-piece { background-color: #2D4054;}
.left_part::-webkit-scrollbar-thumb { height: 50px; background-color: #E26218; border-radius: 3px;}
.left_part::-webkit-scrollbar-corner { background-color: #E26218;}
.left_part::-webkit-resizer { background-color: #E26218;}

.left_menu {
    background: white;
    display: block;
    width: 75%;
    margin-left: 12.5%;
    border: 1px solid #D0D0D0;
    padding-top: 20px;
    padding-bottom: 30px;
    height: fit-content;
}

.left_menu select {
    padding-left: 15px;
    display: block;
    width: 75%;
    margin: 0 auto;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #D0D0D0;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    margin-top: 10px;
    appearance: none;
    text-align: left;
}

.left_menu .profile_menu_each {
    width: 85%;
    margin: 0 auto;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #E26218;
    margin-top: 10px;
}

.profile_menu_each.selected {
    background: #E26218;
}

.profile_menu_each.selected a {
    color: white!important;
}

.profile_menu_each.logout_btn {
    background: #B61B00;
    border: 1px solid #B61B00;
}

.profile_menu_each.logout_btn a {
    color: white!important;
}

.page_header.profile h2 {
    width: 100%;
    padding-left: 0;
    text-align: center;
}

.left_menu .profile_menu_each a {
    color: black;
    display: block;
    font-size: 18px;
    line-height: 35px;
    font-weight: 400;
    appearance: none;
    text-align: center;
}

.left_menu select:hover {
    cursor: pointer;
}

.left_menu button {
    display: block;
    width: 75%;
    margin: 0 auto;
    height: 40px;
    background: #E26218;
    border: 1px solid #E26218;
    border: none;
    margin-top: 10px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: white;
}

.page_content {
    width: 65%;
    padding-top: 70px;
    padding-left: 2%;
    padding-bottom: 30px;
}

.each_vacancy {
    width: 100%;
    display: block;
    background: white;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

.vacancy_info {
    display: flex;
    width: calc(100% - 50px);
    margin: 0 auto;
}

.vacancy_info h3 {
    font-size: 20px;
    line-height: 50px;
}

.left_vacancy_part {
    width: 75%;
}

.price {
    width: 20%;
    text-align: center;
    margin-left: 5%;
}

.each_vacancy_desceiption_text p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}

.each_vacancy_desceiption_text a {
    color: #E26218;
    display: contents;
}

.each_vacancy_desceiption_text a:hover {
    cursor: pointer;
}

.btns {
    display: flex;
    width: calc(20% + 60px);
}

.btns.responsed {
    margin-left: 20%;
    width: fit-content;
}

.vacancy_submit {
    width: calc(100% - 60px);
    margin-left: 15px;
    background: #E26218;
    height: 45px;
}

.vacancy_submit:hover {
    cursor: pointer;
}

.vacancy_submit a {
    line-height: 45px;
    font-weight: 700;
    font-size: 18px;
    color: white!important;
}

.heart:hover {
    cursor: pointer;
}

.heart img {
    width: 100%;
    vertical-align: bottom;
}

.date p {
    line-height: 45px;
    font-size: 18px;
    font-weight: 400;
}

.login_form {
    width: 40%;
    margin: 0 auto;
    height: calc(100vh - 200px);
}

.login_form.register {
    margin-top: 40px;
    height: auto;
    margin-bottom: 70px;
}

.login_form .page_header h2 {
    padding-left: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 100px;
}

.login_form.register .page_header h2 {
    padding-top: 0;
}

.login_form form {
    width: 100%;
}

form input, form select, form textarea {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #D0D0D0;
    box-sizing: border-box;
    height: 50px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
    color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

form textarea {
    height: 150px;
    text-align: left;
    padding-left: 15px;
    padding-top: 15px;
}

form input::placeholder, form textarea::placeholder, label {
    font-size: 18px;
    font-weight: 700;
    color: black;
    text-align: center;
    line-height: 30px;
}

form textarea::placeholder {
    line-height: 12 0px;
    padding-top: 0;
}

form button {
    width: 60%;
    margin-left:20%;
    background-color: #E26218;
    color: white;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    border: none;
    outline: none;
}

form input[type="submit"] {
    width: 60%;
    margin-left:20%;
    background-color: #E26218;
    color: white;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    border: none;
    outline: none;
}

.vacancy .page_content {
    margin: 0 auto;
}

.page_header.back_link {
    width: 82%;
    
    margin-bottom: 30px;
}

.page_header.back_link a {
    text-align: left;
    text-decoration: underline;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    padding-left: 5px;
}

.vacancy .title {
    padding-bottom: 10px;
}

.short_description {
    padding-bottom: 10px;
}

.short_description_row p {
    font-size: 18px;
    line-height: 40px;
}

.short_description_row p span {
    font-weight: 600;
}

.com_logo {
    width: 20%;
    margin-left: 5%;
    height: fit-content;
}

.com_logo img {
    width: 60px;
    display: inherit;
    margin: 0 auto;
}

.vacancy .each_vacancy_desceiption_text p {
    padding-bottom: 15px;
}

.vacancy_info.img_slider {
    display: block;
    margin-bottom: 50px;
    margin-top: 20px;
}

.img_row {
    display: flex;
    width: 100%;
    vertical-align: bottom;
    flex-wrap: wrap;
}

.img_row img {
    width: calc(100% / 3);
}

.main_img {
    width: calc(100% / 3 * 2);
    height: fit-content;
    display: block;
}

.main_img img {
    vertical-align: bottom;
    display: inline;
    width: 100%;
}

.right_alingn_imgs {
    width: calc(100% / 3);
}

.count_5 .right_alingn_imgs {
    width: 100%;
    display: flex;
}

.count_5 .right_alingn_imgs img {
    width: 50%;
}

.count_4 .main_img {
    width: 100%;
}

.count_2.img_row img {
    width: 50%;
}

.count_1.main_img {
    width: 100%;
}

.right_alingn_imgs img {
    vertical-align: bottom;
    display: inline;
    width: 100%;
}

.page_content_profile_container {
    display: flex;
}

.profile_container_img {
    height: fit-content;
    width: 15%;
    margin-right: 40px;
}

.profile_container_img:hover {
    cursor: pointer;
}

.profile_container_img img {
    width: 100%;
    vertical-align: bottom;
}

.profile_container_form {
    width: 80%;
    margin: auto;
}

.adaptive_menu {
    display: none;
}

.adaptive_menu_info {
    transform: translateY(-300px);
}

.adaptive_menu_info.element-show {
    transform: translateY(0);
    transition: all 1s;
}

.adaptive_menu_info.element-hiden {
    transform: translateY(-300px);
    transition: all 1s;
}

.hiden {
    display: none;
}

.vacancy_info.img_slider_main {
    margin-bottom: 40px;
}

.arrow {
    width: 5%;
}

.arrow img {
    max-width: 100%;
    width: fit-content;
}

.arrow img:hover {
    cursor: pointer;
}

.sliger_body {
    display: flex;
    overflow: hidden;
    width: 90%;
}

.sliger_body img {
    display: none;
    width: 45%;
    margin: 0 auto;
}

.sliger_body img.showed {
    display: block;
}

.sliger_body img.go_out {
    animation: go_out 10s linear infinite;
}

.sliger_body img.go_in {
    animation: go_in 10s linear infinite;
}

.modal_sliger_body {
    display: flex;
    overflow: hidden;
    width: 90%;
}

.modal_sliger_body img {
    display: none;
    width: 90%;
    margin: 0 auto;
}

.modal_sliger_body img.showed {
    display: block;
}

.modal_sliger_body img.go_out {
    animation: go_out 10s linear infinite;
}

.modal_sliger_body img.go_in {
    animation: go_in 10s linear infinite;
}

.modal_img_player {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    padding-top: 10%;
}

.modal_img_slider {
    width: 70%;
    margin: 0 auto;
}

.news_block {
    width: 90%;
    margin: 0 auto;
}

.news_block .page_header h2 {
    width: calc(100% - 5px);
    padding-left: 5px;
    text-align: left;
}

.news_block .each_vacancy {
    padding-top: 10px;
    padding-bottom: 15px;
}

.news_block .left_vacancy_part {
    width: 100%;
}

.news_block .btns {
    width: 100%;
}

.news_block .btns .vacancy_submit {
    width: 50%;
    margin-top: 15px;
    margin-left: 0;
    height: 40px;
}

.news_block .btns .vacancy_submit a {
    height: 40px;
    overflow: hidden;
}

.main_page_main {
    max-height: calc(100vh - 130px);
}

.main_page_main .page {
    max-height: calc(100vh - 130px);
}

p img {
    width: 20%;
    float: left;
    margin-right: 10px;
    padding-bottom: 10px;
}

.vacancy_row {
    display: flex;
    width: 100%;
}

.vacancy_row .each_vacancy {
    width: 32%;
}

.vacancy_row .each_vacancy:nth-child(2) {
    margin-left: 2%;
    margin-right: 2%;
}

.vacancy_row .each_vacancy .vacancy_info h3 {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 15px;
}

.vacancy_row .each_vacancy .each_vacancy_desceiption_text p {
    font-size: 10px;
    line-height: 18px;
}

.vacancy_row .each_vacancy .each_vacancy_desceiption_text p img {
    width: 50%;
}

.vacancy_row .each_vacancy .left_vacancy_part {
    width: 100%;
}

.vacancy_row .each_vacancy .left_vacancy_part.title {
    width:75%;
}

.vacancy_row .each_vacancy .left_vacancy_part.date {
    display: none;
}

.vacancy_row .each_vacancy .btns {
    width: 100%;
}

.vacancy_row .each_vacancy .btns .vacancy_submit{
    width: 40%;
    margin-left: 0;
    height: 25px;
    margin-top: 10px;
}

.vacancy_row .each_vacancy .btns .vacancy_submit a{
    height: 25px;
    font-size: 12px;
    line-height: 25px;
}

.adaptive {
    display: none;
}

.admin_menu {
    width: 100%;
    margin-top: 150px;
}

.admin_menu .header_buttons_info {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    color: white;
    font-size: 20px;
    border: none;
    outline: none;
    height: fit-content;
    line-height: 50px;
}

.admin_menu .header_buttons_info p {
    line-height: 50px;
    text-align: center;
    font-weight: 600;
    color: #fff;
}

@media screen and (max-width: 1500px) {

    header, footer {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .header_buttons {
        width: 25%;
        right: 5%;
    }

    .header_account {
        right: 5%;
    }

    .login_form {
        width: 50%;
    }

    main {
        width: 100%;
    }

    .com_logo img {
        width: 50px;
    }
}

@media screen and (max-width: 1350px) {

    .left_part {
        width: 26%;
    }

    .left_menu {
        width: 90%;
        margin-left: 5%;
    }

    .left_menu {
        width: 90%;
        margin-left: 5%;
    }

    .left_menu select {
        padding-left: 10px;
    }

    .page_content {
        width: 70%;
    }
}

@media screen and (max-width: 1100px) {
    .main_page_main {
        max-height: none;
    }

    .main_page_main .page {
        max-height: none;
    }


    main {
        width: 95%;
    }

    .left_menu {
        width: 20%;
        margin-right: 20px;
    }

    .each_vacancy_desceiption_text.left_vacancy_part {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .header_buttons {
        width: 35%;
    }
}

@media screen and (max-width: 1100px) {
    .main_page_main .left_part .page_header {
        display: block;
        color: black;
        text-align: center;
    }

    .main_page_main .left_part .page_header h2 {
        padding: 0;
        text-align: center;
    }

    .news_block {
        width: 100%;
    }

    *, body {
        overflow: visible;
    }

    .menu_point {
        display: none;
    }

    .header_buttons {
        width: 50%;
    }

    .page {
        display: block;
    }

    .left_part {
        width: 100%;
        background: none;
        padding-top: 40px;
        padding-bottom: 0;
    }

    .left_part .page_header {
        display: none;
    }

    .left_menu {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
        margin-left: 0;
        padding-top: 20px;
        padding-bottom: 30px;
        border: none;
    }

    .left_menu select {
        height: 50px;
    }

    .left_menu button {
        height: 50px;
    }

    .page_content {
        width: 100%;
        padding-left: 0;
    }

    .left_vacancy_part {
        width: 70%;
    }

    .page_header h2 {
        width: 100%;
        padding-left: 0;
        margin-bottom: 30px;
        text-align: center;
    }

    .price {
        width: 25%;
        text-align: center;
        margin-left: 5%;
    }

    .each_vacancy_desceiption_text.left_vacancy_part {
        width: 95%;
    }

    .btns {
        width: calc(30% + 60px);
    }

    .each_vacancy {
        border: none;
    }

    footer .header_logo {
        width: 100%;
        text-align: center;
    }

    .header_buttons {
        display: none;
    }

    footer .header_buttons {
        display: none;
    }

    .adaptive_menu {
        display: block;
        position: absolute;
        right: 10%;
        width: fit-content;
    }

    .adaptive_menu img {
        vertical-align: bottom;
    }

    .adaptive_menu_info .header_buttons {
        display: block;
        padding-top: 20px;
        width: 100%;
        position: absolute;
        right: 0;
        top: 65px;
        background: #2D4054;
    }

    .adaptive_menu_info .header_buttons button {
        display: block;
        width: 60%;
        margin-left: 20%;
        background: #E26218;
        border: none;
        color: white;
        height: 40px;
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 15px;
    }

    .header_buttons_info p {
        font-size: 18px;
        padding-right: 0%;
        line-height: 30px;
        text-align: center;
        font-weight: 500;
        padding-bottom: 10px;
    }

    .header_buttons_info a {
        padding-bottom: 15px;
        line-height: 30px;
        color: white!important;
    }

    .header_buttons_info:first-child {
        margin-left: 0;
        margin-right: 0;
    }

    .account_info {
        display: none;
    }
    .arrow {
        display: none;
    }

    .sliger_body {
        width: 100%;
        display: block;
    }

    .sliger_body img {
        display: block;
        margin-bottom: 15px;
        width: 100%;
    }

    .modal_img_player {
        display: none;
    }

    .header_buttons_info.account_name a {
        font-weight: 600;
    }
}

@media screen and (max-width: 850px) {
    .vacancy_row {
        display: none;
    }

    .adaptive {
        display: block;
    }
}

@media screen and (max-width: 500px) {
    .menu_point {
        display: none;
    }

    .header_account {
        display: none;
    }

    .header_buttons_info:first-child {
        margin-left: 0;
        margin-right: 0;
    }

    .header_buttons_info a {
        padding-bottom: 15px;
        line-height: 30px;
        color: white!important;
    }

    input, select, textarea, button {
        font-size: 16px!important;
    }

    input::placeholder, select::placeholder, textarea::placeholder {
        font-size: 16px!important;
    }

    main {
        width: 95%;
        margin-top: 35px;
    }

    .page_header h2 {
        padding-left: 0;
        font-size: 22px;
        text-align: center;
        width: 100%;
    }

    .page {
        display: block;
    }

    .left_part {
        width: 100%;
        background: none;
        padding-top: 0;
        padding-bottom: 0;
    }

    .left_part .page_header {
        display: none;
    }

    .left_menu {
        width: 100%;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .left_menu select {
        width: 95%;
        height: 50px;
        font-size: 16px;
    }

    .left_menu button {
        width: 95%;
        height: 50px;
        font-weight: 600;
    }

    .page_content {
        width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 0;
    }

    .vacancy_info {
        display: block;
        width: calc(100% - 30px);
        margin: 0 auto;
    }

    .left_vacancy_part {
        width: 100%;
    }

    .price {
        width: 100%;
        text-align: left;
        margin-left: 0;
    }

    .vacancy_info h3 {
        font-size: 18px;
        line-height: 40px;
    }

    .vacancy_info {
        display: block;
        width: calc(100% - 30px);
        margin: 0 auto;
    }

    .each_vacancy_desceiption_text p {
        font-size: 15px;
        line-height: 25px;
        font-weight: 400;
    }

    .btns {
        width: 100%;
        margin-top: 20px;
    }

    footer .header_logo {
        width: 100%;
        text-align: center;
    }

    .header_buttons {
        display: none;
    }

    footer .header_buttons {
        display: none;
    }

    .adaptive_menu {
        display: block;
        position: absolute;
        right: 10%;
        width: fit-content;
    }

    .adaptive_menu img {
        vertical-align: bottom;
    }

    .adaptive_menu_info .header_buttons {
        display: block;
        padding-top: 20px;
        width: 100%;
        position: absolute;
        right: 0;
        top: 65px;
        background: #2D4054;
    }

    .adaptive_menu_info .header_buttons button {
        display: block;
        width: 60%;
        margin-left: 20%;
        background: #E26218;
        border: none;
        color: white;
        height: 40px;
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 15px;
    }

    .header_buttons_info p {
        font-size: 18px;
        padding-right: 0%;
        line-height: 30px;
        text-align: center;
        font-weight: 500;
        padding-bottom: 10px;
    }

    .date p {
        font-size: 16px;
    }

    .vacancy_submit a {
        font-size: 16px;
    }

    .account_logo {
        width: 35px;
        height: 35px;
    }

    .account_info p {
        line-height: 37px;
        padding-left: 15px;
        font-weight: bold;
        font-size: 18px;
    }

    .header_logo.form_page {
        width: 100%;
    }

    .login_form {
        width: 90%;
    }

    .forms_footer {
        display: none;
    }

    form button {
        width: 100%;
        margin: 0;
        font-size: 16px;
    }

    .vacancy_info.img_slider {
        margin-bottom: 5px;
    }

    .img_row {
        display: block;
        width: 100%;
    }

    .main_img {
        width: 100%;
    }

    .right_alingn_imgs {
        width: 100%;
    }

    .right_alingn_imgs img {
        margin-bottom: 15px;
    }

    .img_row img {
        width: 100%;
        margin-bottom: 15px;
    }

    .short_description_row p {
        font-size: 16px;
    }

    .com_logo img {
        display: none;
    }

    .page_header.back_link {
        margin: 0;
        margin-bottom: 15px;
    }

    .page_header.back_link a {
        font-size: 18px;
    }

    .page_content_profile_container {
        display: block;
    }

    .profile_container_img {
        height: fit-content;
        width: 50%;
        margin-left: 25%;
        margin-bottom: 30px;
        margin-right: 40px;
    }

    .profile_container_form {
        width: 100%;
    }

    .arrow {
        display: none;
    }

    .sliger_body {
        width: 100%;
        display: block;
    }

    .sliger_body img {
        display: block;
        margin-bottom: 15px;
        width: 100%;
    }

    .modal_img_player {
        display: none;
    }

    .header_buttons_info.account_name a {
        font-weight: 600;
    }

    p img {
        width: 100%;
        margin-right: 0;
    }
}